
<section class="s1">
        <div class="main-container">
            <h3 style="text-align: center;">
                Some of my Blogs</h3>
            <div class="blog-wrapper">

                <div>
                    <div class="blog">
                        <img class="blog-image" src="{% static 'istiak/my_pic.jpg' %}" alt="">
                        <div class="blog-preview">
                            <h6 class="blog-title">Blog title</h6>
                            <p class="blog-intro">
                                this is a sentence 
                                for the blog post.some more filler
                                for the post. need to fixed and ill do that 
                                later
                            </p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="blog">
                        <img class="blog-image" src="{% static 'istiak/my_pic.jpg' %}" alt="">
                        <div class="blog-preview">
                            <h6 class="blog-title">Blog title</h6>
                            <p class="blog-intro">
                                this is a sentence 
                                for the blog post.some more filler
                                for the post. need to fixed and ill do that 
                                later
                            </p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="blog">
                        <img class="blog-image" src="{% static 'istiak/my_pic.jpg' %}" alt="">
                        <div class="blog-preview">
                            <h6 class="blog-title">Blog title</h6>
                            <p class="blog-intro">
                                this is a sentence 
                                for the blog post.some more filler
                                for the post. need to fixed and ill do that 
                                later
                            </p>
                        </div>
                    </div>
                </div>

            </div>    
        </div>
</section>